---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Welcome to Chorah Labs!</h2>
			<p>
				At Chorah Labs, we're building the next generation of AI-driven systems to support innovation 
				in biotech and beyond. Our mission is to simplify complex workflows and unlock new possibilities 
				through intelligent automation, powerful data tools, and modular agent-based solutions.
			</p>
			<p>
				We’re currently developing a suite of AI products designed to help organizations accelerate insight, 
				improve decision-making, and stay compliant in highly regulated industries.
			</p>
			<p>
				Our tools are being crafted with care — and we’re excited to share more soon.
   			</p>
			<p class="contact">
				Want early access or to stay in the loop? <br />
				Reach out to us at 
				<a class="email" href="mailto:jason@chorahlabs.com">jason@chorahlabs.com</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
